<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous"> -->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_588604_zv1gdp5ay3wvobt9.css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="./js/index.js"></script>
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/template/index.html">主岛</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">首页
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/template/live-list.html">直播</a>
                    </li>
                    <li class="dropdown">
                        <a href="/template/cate-list.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li>
                                <a href="#">Another action</a>
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/template/cate-list.html">全部分类</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">排行榜</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-bell"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">登录/注册</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container main">
        <div class="row">
            <div class="col-sm-12 clearfix">
                <section class="anchor-main">
                    <div class="anchor-main-header">
                        <div class="anchor-header-icon">
                            <div class="icon-box">
                                <img src="http://dummyimage.com/135x360" alt="">
                            </div>
                            <div class="hall-of-fame">
                                主播名人堂
                            </div>
                        </div>
                        <div class="anchor-header-info clearfix">
                            <div class="info-left">
                                <h2 class="name">陈一发儿</h2>
                                <div class="info-item">
                                    <span class="info-key">直播平台</span>
                                    <span class="info-value">
                                        <a href="#">斗鱼</a>
                                    </span>
                                </div>
                                <div class="info-item">
                                    <span class="info-key">直播类型</span>
                                    <span class="info-value">
                                        <a href="#">娱乐</a>
                                    </span>
                                </div>
                                <div class="info-item">
                                    <span class="info-key">中文名</span>
                                    <span class="info-value">陈一发</span>
                                </div>
                                <div class="info-item">
                                    <span class="info-key">别名</span>
                                    <span class="info-value">发姐
                                        <span> / </span>电竞贾玲</span>
                                </div>
                                <div class="info-item">
                                    <span class="info-key">出生地</span>
                                    <span class="info-value">重庆</span>
                                </div>
                                <div class="info-item">
                                    <span class="info-key">生日</span>
                                    <span class="info-value">1994-2-3</span>
                                </div>
                                <div class="info-item">
                                    <span class="info-key">星座</span>
                                    <span class="info-value">天秤座</span>
                                </div>
                            </div>
                            <div class="info-right">
                                <div class="avatar-box">
                                    <img src="http://dummyimage.com/50x50" class="img-circle" alt="陈一发儿">
                                </div>
                                <div class="fans">
                                    <span>24.3万人关注</span>
                                </div>
                                <div class="follow">
                                    <button class="btn btn-default"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="flow-text">立即关注</span></button>
                                    <button class="btn btn-default">进入直播间</button>
                                </div>
                            </div>
                        </div>
                        <div class="anchor-header-tab"></div>
                    </div>
                    <div class="anchor-main-body">
                        <div class="anchor-body-description">
                            <div class="section-title">
                                <h3>简介</h3>
                            </div>
                            <div class="anchor-body-description-paragraph collapse">
                                阿斯蒂芬离开家阿斯蒂芬拉速度撒地方科技拉斯快递费
                            </div>
                        </div>
                        <div class="anchor-body-images">
                            图片轮播
                        </div>
                        <div class="anchor-body-experience">
                            <div class="section-title">
                                <h3>人物经历</h3>
                            </div>
                            <div class="anchor-body-experience-paragraph collapse">
                                阿斯蒂芬离开家阿斯蒂芬拉速度撒地方科技拉斯快递费
                            </div>
                        </div>
                        <div class="anchor-body-honor">
                            <div class="section-title">
                                <h3>荣誉</h3>
                            </div>
                            <div class="anchor-body-honor-paragraph collapse">
                                阿斯蒂芬离开家阿斯蒂芬拉速度撒地方科技拉斯快递费
                            </div>
                        </div>
                        <div class="anchor-body-experience">
                            <div class="section-title">
                                <h3>人物关系</h3>
                            </div>
                            <div class="anchor-body-experience-paragraph collapse">
                                阿斯蒂芬离开家阿斯蒂芬拉速度撒地方科技拉斯快递费
                            </div>
                        </div>
                    </div>
                </section>
                <section class="anchor-side">
                    <div class="social">
                        <div class="qr-code">
                            <img src="http://dummyimage.com/100x100" alt="二维码">
                        </div>
                        <div class="slogan">
                            <h3>主岛 发现精彩直播</h3>
                        </div>
                        <p>欢迎关注</p>
                        <ul class="list-inline">
                            <li>
                                <span class="iconfont icon-wechat"></span>
                            </li>
                            <li>
                                <span class="iconfont icon-iconfonticon6"></span>
                            </li>
                            <li>
                                <span class="iconfont icon-weibo1"></span>
                            </li>
                            <li>
                                <span class="iconfont icon-youxiang"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="anchor-tag">
                        <div class="section-title">
                            <h3>主播标签</h3>
                        </div>
                        <ul class="tag-list">
                            <li>
                                <a href="#">暴击</a>
                            </li>
                            <li>
                                <a href="#">色情主播</a>
                            </li>
                            <li>
                                <a href="#">一米八</a>
                            </li>
                            <li>
                                <a href="#">阿萨德飞机</a>
                            </li>
                            <li>
                                <a href="#">巫妖王</a>
                            </li>
                        </ul>
                    </div>
                    <div class="section-title">
                        <h3>主播标签</h3>
                    </div>
                    <ul class="anchor-list">
                        <li class="list-item">
                            <a href="#" class="item-left">
                                <img src="http://dummyimage.com/180x180" alt="">
                            </a>
                            <div class="item-right">
                                <a href="#" class="anchor-name">冯迪莫</a>
                                <div class="anchor-info">
                                    <a href="#" class="anchor-type">娱乐</a>
                                    <a href="#" class="anchor-platform">斗鱼</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a href="#" class="item-left">
                                <img src="http://dummyimage.com/180x180" alt="">
                            </a>
                            <div class="item-right">
                                <a href="#" class="anchor-name">冯迪莫</a>
                                <div class="anchor-info">
                                    <a href="#" class="anchor-type">娱乐</a>
                                    <a href="#" class="anchor-platform">斗鱼</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a href="#" class="item-left">
                                <img src="http://dummyimage.com/180x180" alt="">
                            </a>
                            <div class="item-right">
                                <a href="#" class="anchor-name">冯迪莫</a>
                                <div class="anchor-info">
                                    <a href="#" class="anchor-type">娱乐</a>
                                    <a href="#" class="anchor-platform">斗鱼</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a href="#" class="item-left">
                                <img src="http://dummyimage.com/180x180" alt="">
                            </a>
                            <div class="item-right">
                                <a href="#" class="anchor-name">冯迪莫</a>
                                <div class="anchor-info">
                                    <a href="#" class="anchor-type">娱乐</a>
                                    <a href="#" class="anchor-platform">斗鱼</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a href="#" class="item-left">
                                <img src="http://dummyimage.com/180x180" alt="">
                            </a>
                            <div class="item-right">
                                <a href="#" class="anchor-name">冯迪莫</a>
                                <div class="anchor-info">
                                    <a href="#" class="anchor-type">娱乐</a>
                                    <a href="#" class="anchor-platform">斗鱼</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a href="#" class="item-left">
                                <img src="http://dummyimage.com/180x180" alt="">
                            </a>
                            <div class="item-right">
                                <a href="#" class="anchor-name">冯迪莫</a>
                                <div class="anchor-info">
                                    <a href="#" class="anchor-type">娱乐</a>
                                    <a href="#" class="anchor-platform">斗鱼</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a href="#" class="item-left">
                                <img src="http://dummyimage.com/180x180" alt="">
                            </a>
                            <div class="item-right">
                                <a href="#" class="anchor-name">冯迪莫</a>
                                <div class="anchor-info">
                                    <a href="#" class="anchor-type">娱乐</a>
                                    <a href="#" class="anchor-platform">斗鱼</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a href="#" class="item-left">
                                <img src="http://dummyimage.com/180x180" alt="">
                            </a>
                            <div class="item-right">
                                <a href="#" class="anchor-name">冯迪莫</a>
                                <div class="anchor-info">
                                    <a href="#" class="anchor-type">娱乐</a>
                                    <a href="#" class="anchor-platform">斗鱼</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a href="#" class="item-left">
                                <img src="http://dummyimage.com/180x180" alt="">
                            </a>
                            <div class="item-right">
                                <a href="#" class="anchor-name">冯迪莫</a>
                                <div class="anchor-info">
                                    <a href="#" class="anchor-type">娱乐</a>
                                    <a href="#" class="anchor-platform">斗鱼</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a href="#" class="item-left">
                                <img src="http://dummyimage.com/180x180" alt="">
                            </a>
                            <div class="item-right">
                                <a href="#" class="anchor-name">冯迪莫</a>
                                <div class="anchor-info">
                                    <a href="#" class="anchor-type">娱乐</a>
                                    <a href="#" class="anchor-platform">斗鱼</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 clearfix">
                    <div class="footer-right pull-right">
                        <p>联系方式</p>
                        <ul class="list-inline">
                            <li>
                                <span class="iconfont icon-wechat"></span>
                            </li>
                            <li>
                                <span class="iconfont icon-iconfonticon6"></span>
                            </li>
                            <li>
                                <span class="iconfont icon-weibo1"></span>
                            </li>
                            <li>
                                <span class="iconfont icon-youxiang"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-left pull-left">
                        <div class="footer-left-header">
                            <h4>主岛</h4>
                            <span class="link">
                                <a href="https://www.taptap.com/about-us" rel="nofollow">关于我们</a>
                            </span>
                        </div>
                        <p>发现精彩直播</p>
                        <span>
                            <span>Copyright © 2018
                                <a href="https://www.taptap.com">TapTap</a>. All rights Reserved.</span>
                            <br>
                            <span>适龄提示：本公司产品适合10周岁以上玩家使用</span>
                            <span>&nbsp;&nbsp;
                                <a href="https://www.taptap.com/taptapjh" target="_blank" rel="nofollow">未成年人家长监护</a>&nbsp;&nbsp;
                                <a href="https://www.taptap.com/privacy-policy" rel="nofollow">隐私权和条款</a>
                            </span>
                            <br>
                            <span>
                                <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">沪ICP备16012525号-1</a>&nbsp;&nbsp;沪网文(2016)2204-116号&nbsp;&nbsp;
                            </span>
                            <br>
                            <span class="jingying">经营许可证编号：沪B2-20170322</span>易玩（上海）网络科技有限公司
                            <br>
                            <span class="beian">
                                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402003255">
                                    <img src="https://img.tapimg.com/market/images/d0289dc0a46fc5b15b3363ffa78cf6c7.png">
                                    <p>
                                        沪公网安备 31010402003255号
                                    </p>
                                </a>
                            </span>
                            <br>
                            <span>电话：021-60727072 &nbsp; 地址：上海市闵行区紫星路588号2幢2122室
                            </span>

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>