<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/index.css">

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">主岛</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">首页
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="#">直播</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#">Separated link</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#">One more separated link</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">排行榜</a>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="搜索...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-bell"></span>
            </a>
          </li>
          <li>
            <a href="#">登录/注册</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-12 col-sm-12">
        <div id="ad" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#ad" data-slide-to="0" class="active"></li>
            <li data-target="#ad" data-slide-to="1"></li>
            <li data-target="#ad" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="row">
                <div class="ad-pic-box">
                  <img src="http://screenshot.msstatic.com/yysnapshot/180144c4ef8c4a90e9d16e43f727edd9288bcd6108e4" alt="1">
                  <div class="carousel-caption">
                    <h3>国服最强关羽 疾跑关羽 15900盘</h3>
                    <p>陈一发儿</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="ad-pic-box">
                  <img src="https://img3.zhanqi.tv/live/20180227/111243_2018-02-27-00-10-24_big.jpg" alt="1">
                  <div class="carousel-caption">
                    <h3>国服最强关羽 疾跑关羽 15900盘</h3>
                    <p>陈一发儿</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="ad-pic-box">
                  <img src="http://img2.plures.net/live/screenshots/2236277/10d0/2f04/aea0/02af/9f73/c736/92fd/e06f_1517143298.jpg?imageView2/1/w/320/h/180"
                    alt="1">
                  <div class="carousel-caption">
                    <h3>国服最强关羽 疾跑关羽 15900盘</h3>
                    <p>陈一发儿</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#ad" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#ad" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-0 col-sm-0">
        <ul class="thumbnail">
          <li class="">a</li>
          <li class="">a</li>
          <li class="">a</li>
          <li class="">a</li>
          <li class="">a</li>
          <li class="">aaa</li>
          <li class="">aaa</li>
          <li class="">aaa</li>
          <li class="">aaa</li>
          <li class="">aaa</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="cate col-md-9 col-sm-12 col-xs-12">
        <div class="cate-header clearfix">
          <div class="cate-title pull-left">
            <img src="http://dummyimage.com/30x30" class="img-circle" alt="">
            <h3>热门分类</h3>
          </div>
          <div class="all-cate pull-right">
            <a href="javascript:;">全部分类 >></a>
          </div>
        </div>
        <div class="cate-list">
            <ul class="row">
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>绝地求生</p>
                  </a>
                </div>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>王者荣耀</p>
                  </a>
                </div>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>荒岛特训</p>
                  </a>
                </div>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>英雄联盟</p>
                  </a>
                </div>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>地下城与勇士</p>
                  </a>
                </div>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>怪物猎人</p>
                  </a>
                </div>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>街篮</p>
                  </a>
                </div>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>炉石传说</p>
                  </a>
                </div>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>彩虹六号</p>
                  </a>
                </div>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>全军出击</p>
                  </a>
                </div>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>DATE2</p>
                  </a>
                </div>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2 ">
                <div class="cate-item">
                  <a href="javascript:;">
                    <div class="cover">
                      <img src="http://dummyimage.com/126x170" class="img-rounded" alt="">
                    </div>
                    <p>主机游戏</p>
                  </a>
                </div>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="recomment">
          <div class="cate-header clearfix">
            <div class="cate-title pull-left">
              <img src="http://dummyimage.com/30x30" class="img-circle" alt="">
              <h3>精彩推荐</h3>
            </div>
          </div>
          <div class="re-content">
            <ul class="re-list">
              <li>
                <a href="javascript:;">
                  <div class="img-box"><img src="http://dummyimage.com/130x30" alt=""></div>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <div class="img-box"><img src="http://dummyimage.com/130x30" alt=""></div>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <div class="img-box"><img src="http://dummyimage.com/130x30" alt=""></div>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <div class="img-box"><img src="http://dummyimage.com/130x30" alt=""></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          ddd
        </div>
      </div>
    </div>
  </footer>
</body>

</html>