.main-child .category-list {
    margin-top: 20px;
    margin-left: -20px;
}

.main-child .category-list .item {
    float: left;
    margin: 0 0 20px 20px;
}

.category-list .item:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
}

.category-list .item a {
    color: #333;
    text-decoration: none;
}

.category-list .item a:hover {
    color: #14B9C8;
}

@media screen and (max-width:678px) {
    .main-child .category-list .item {
        width: 43%;
    }
}

.item .item-wrap {
    width: 100%;
}

.item-wrap .cate-cover>img {
    width:100%;
}

.item-wrap .cate-name {
    height: 30px;
    text-align: center;
    background-color: #fff;
}

.cate-name span {
    line-height: 30px;
}