.anchor-main {
    float: left;
    width: 66.15%;
}

.anchor-side {
    float: right;
    width: 32.30%;
}

.anchor-main-header {
    position: relative;
    margin: 0 0 16px;
    padding: 30px 30px 0;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
}

.anchor-header-icon {
    float: left;
    position: relative;
}

.anchor-header-icon .icon-box {
    width: 135px;
    height: 192px;
    overflow: hidden;
}

.anchor-header-icon .icon-box>img {
    width: 100%;
    vertical-align: middle;
}

.anchor-header-info {
    position: relative;
    margin-left: 155px;
}

.anchor-header-info .info-left {
    float: left;
    width: 300px;
}

.anchor-header-info .info-right {
    float: right;
    text-align: center;
}

.anchor-header-info .info-right .fans {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.info-right .follow {
    margin-top: 10px;
}

.follow .flow-text {
    margin-left: 5px;
}

.info-right .avatar>a {
    display: inline-block;
}

.info-right .avatar-box {
    /* width: 50px;
    height: 50px; */
    /* overflow: hidden; */
    text-align: center;
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

.info-right .avatar-box>img {
    height: 100%;
}

.anchor-header-info .name {
    margin-bottom: 10px;
}

.anchor-header-info .info-item {
    color: #999;
    font-size: 12px;
    padding-bottom: 5px;
}

.info-item .info-key::after {
    content: ':';
}

.info-item .info-value {
    color: #666;
}

.info-value .list-inline {
    display: inline-block;
}

.info-item .info-value a {
    display: inline-block;
}

.anchor-main-body {
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
}

.section-title {
    margin-bottom: 15px;
    padding: 20px 30px 0;
    border-top: 1px solid #eee;
}

.section-title::after {
    content: "";
    display: table;
    clear: both;
}

.section-title h3 {
    float: left;
    padding-left: 8px;
    line-height: 20px;
    font-size: 18px;
    border-left: 4px solid #14B9C8;
}

.anchor-body-bottom {
    margin-bottom: 20px;
}

.anchor-body-description-paragraph {
    margin: 0 30px;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    transition: all .3s ease-in-out 0s;
}

.anchor-body-images {
    border-top: 1px solid #eee;
}