body {
    background-color: #f2f2f2;
}

.ad-pic-box {
    height: 450px;
    overflow: hidden;
}

.ad-pic-box img {
    width: 100%;
}

.thumbnail {
    height: 450px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.thumbnail li {
    box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
    width: 46%;
    height: 19%;
    border: 1px solid red;
}

.cate-header {
    background-color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #f3f4f8;
}

.cate-list {
    background-color: #fff;
    padding: 15px 15px;
}

.cate-title img {
    float: left;
}

.cate-title h3 {
    float: left;
    font-size: 20px;
    line-height: 30px;
    margin-left: 10px;
}

.cate-list ul li {
    text-align: center;
    padding-bottom: 10px;
}

.cover img {
    width: 100%;
    height: auto;
}

.cate-item p {
    font-size: 12px;
    margin-top: 5px;
    text-overflow: ellipsis;
}

.cate-item a {
    text-decoration: none;
}

@media screen and (min-width: 1200px) {
    .recomment {
        height: 445px;
    }
    .re-list li {
        height: 85px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .recomment {
        height: 378px;
    }
    .re-list li {
        height: 70px;
    }
}

.recomment {
    background-color: #fff;
}

.re-list {
    padding: 10px 15px;
}

.re-list li {
    width: 100%;
    margin-bottom: 10px;
}

.re-list li a {
    display: block;
    height: 100%;
}

.re-list .img-box {
    position: relative;
    height: 100%;
}

.img-box img {
    width: 100%;
    height: 100%;
}


footer {
    height: 200px;
    background-color: aliceblue;
}