body {
    background-color: #f2f2f2;
}


@media screen and (max-width:500px) {
    .ad-pic-box {
        height: 200px;
    }
}

@media screen and (min-width:501px) and (max-width:768px) {
    .ad-pic-box {
        height: 290px;
    }
}

@media screen and (min-width:769px) and (max-width:992px) {
    .ad-pic-box {
        height: 380px;
    }
}

@media screen and (min-width:993px) {
    .ad-pic-box {
        height: 450px;
    }
}

.ad-pic-box {
    overflow: hidden;
}

.ad-pic-box img {
    width: 100%;
}

@media screen and (max-width:1200px) {
    .ad-list {
        display: none;
    }
}

.thumbnail-pic {
    background-color: #fff;
    height: 450px;
    padding: 10px 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.thumbnail-pic li {
    box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
    width: 46%;
    height: 19%;
    display: block;
    /* border: 1px solid red; */
}

.thumbnail-pic a {
    display: block;
}

.thumbnail-pic a img {
    width: 100%;
}

.hot-cate {
    margin-top: 15px;
}

.cate-header {
    background-color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #f3f4f8;
}

.cate-list {
    background-color: #fff;
    padding: 15px;
}

.cate-title img {
    float: left;
}

.cate-title h3 {
    float: left;
    font-size: 20px;
    line-height: 30px;
    margin-left: 10px;
}

.cate-list ul li {
    text-align: center;
    padding-bottom: 10px;
}

.cover img {
    width: 100%;
    height: auto;
}

.cate-item p {
    font-size: 12px;
    margin-top: 5px;
    text-overflow: ellipsis;
}

.cate-item a {
    text-decoration: none;
}

@media screen and (min-width: 1200px) {
    .recomment {
        height: 445px;
    }
    .re-list li {
        height: 85px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .recomment {
        height: 378px;
    }
    .re-list li {
        height: 70px;
    }
}

.recomment {
    background-color: #fff;
}

.re-list {
    padding: 10px 15px;
}

.re-list li {
    width: 100%;
    margin-bottom: 10px;
}

.re-list li a {
    display: block;
    height: 100%;
}

.re-list .img-box {
    position: relative;
    height: 100%;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.live-section {
    margin-top: 15px;
}

.live-section a {
    text-decoration: none;
}

.live-list {
    padding: 15px;
    background-color: white;
}

.live-list .item {
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.room-info {
    
}

.room-info span {
    font-size: 12px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.room-info .live-title {
    
}

.live-list .live-content {
    padding: 10px;
    font-size: 12px;
}

.live-list ul li {
    padding-bottom: 15px;
}

.live-list .img-box {
    position: relative;
}

.live-list .img-box img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.live-list .img-box span {
    padding: 2px;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    margin: 3px auto auto 3px;
    position: absolute;
    background-color: rgb(230, 125, 84);
}

.live-content {}

.anchor {
    margin-top: 8px;
}

.anchor span {
    font-size: 12px;
    line-height: 24px;
}

.anchor .anchor-name {
    margin-left: 5px;
}

.anchor .fans {
    margin-left: 5px;
}

footer {
    margin-top: 60px;
    background-color: #666;
}

