.left-side {
    position: fixed;
    width:240px;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 1;
    /* color: #fff;
    background-color: #ccc; */
    /* background-color: #fafafa; */
    /* background-color: #191b2e; */
    background-color: #3c3c3c;
    /* padding: 10px 10px; */
    text-align: center;
}

.left-side .side-content {
    padding: 10px 15px;
}

.side-content .channel-item .active {
    color: #14B9C8;
}

.left-side a {
    text-decoration: none;
}

.left-side .channel-title {
    font-size: 18px;
    line-height: 18px;
    color: #14B9C8;
    text-align: left;
}

.channel-title .text {
    color: #333;
    border-left: 4px solid #14B9C8;
    padding-left: 8px;
    font-size: 14px;
    line-height: 16px;
    color: #999;
}

.channel-title .text:hover {
    color: #fff;
}

.platform-list {
    margin-top: 10px;
    /* background-color: #fff; */
    /* box-shadow: 0 2px 3px 0 rgba(0,0,0,.15); */
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.platform-list li {
    overflow: hidden;
    border-radius: 2px;
    width: 30%;
    height: 25px;
    margin-bottom: 10px;
    /* background-color: #fff; */
    /* border: 1px solid #14B9C8; */
    /* background-color: #14B9C8; */
    /* color: #fff; */
    background-color: #3f3f3f;
}

.platform-list li:hover a {
    /* background-color: #14B9C8;
    color: #fff; */
    background-color: #009baa;
}

.channel-item {
    margin-top: 10px;
}

.platform-list a {
    font-size: 12px;
    line-height: 25px;
    /* color: #14B9C8; */
    color: #fff;
}

.main {
    position: relative;
    margin-left: 270px;
}

.main-child {
    height: 1000px;
    /* background-color: green; */
}